<div data-role="header">
  <h1>
    Stud.IP &ndash; Cliqr
  </h1>
  <a class="reload-interactable ui-btn-right" href="?" data-icon="refresh" data-theme="a" data-iconpos="notext"></a>
</div>

<div data-role="content">

  {{#poll}}
  <form action="" method="post">
    <input type="hidden" name="vote_id" value="{{id}}">

    <fieldset class="question" data-role="controlgroup">
      <legend>{{question}}</legend>

      {{#answers}}
      <label>
        <input type="radio" name="choice" value="{{id}}" required="required">
        <span class="nominal">{{nominal}}:</span>
        {{text}}
      </label>
      {{/answers}}
    </fieldset>

    <fieldset>
      <button type="submit" data-theme="a">Antwort abschicken</button>
    </fieldset>
  </form>
  {{/poll}}

  {{^poll}}
  <h1>Keine weiteren Fragen</h1>

  <a class="reload-interactable" href="" data-role="button" data-icon="refresh" data-theme="e">Aktualisieren</a>

  {{/poll}}

</div>
