<table>
  {{#answers}}
    <tr data-count="{{counter}}">
      <td class="nominal">{{nominal}}</td>
      <td class="text"><div>{{text}}</div></td>
      <td class="graph"></td>
      <td class="count">{{counter}}</td>
      <td class="percent">{{percent}}%</td>
    </tr>
  {{/answers}}
</table>
<div class="sample-size">Abstimmungen={{size}}</div>
