<ol>
  {{#answers}}
    <li data-count="{{counter}}">
      <span class="text">
        <span class="nominal">{{nominal}}:</span>
        {{text}}
      </span>
      <span class="result">
        <span class="count">{{counter}}</span>
        <span class="percent">{{percent}}%</span>
      </span>
    </li>
  {{/answers}}
</ol>
<div class="sample-size">n={{size}}</div>
