<div class="question state-{{state}} clearfix">

  <article>
    <h1>{{{question_html}}}</h1>
    <div class="results" />
  </article>

  <aside class="instructions">

    <div class="appeal start">


      <!-- START -->
      {{#if_state 'new'}}
      <form action="{{questions_path 'start'}}" method="POST">
          <button class="button start" type="submit">Frage starten</button>
      </form>
      {{/if_state}}

      <!-- RESTART -->
      {{#if_state 'stopvis'}}
      <form action="{{questions_path 'start'}}" method="POST">
          <button class="button start" type="submit">Frage erneut starten</button>
      </form>
      {{/if_state}}

      <!-- STOP -->
      {{#if_state 'active'}}
      <form action="{{questions_path 'stop'}}" method="POST">
        <button class="button stop" type="submit">Stoppen</button>
      </form>
      {{/if_state}}

      <span class="loader">
        loading&hellip;
      </span>
    </div>


    <div class="appeal vote">
      <div class="url">
        Abstimmen unter
        <a class="short" href="{{short_url}}">{{short_url}}</a>
      </div>
      <a class="qr" href="{{qr_code}}"></a>
    </div>


    <div class="controls">

      <!-- EDIT -->
      {{#unless_state 'active'}}
      <a class="button edit"
         href="#edit-{{id}}"
         tabindex="0">Ändern</a>
      {{/unless_state}}

      <!-- DELETE -->
      <form class="questions-destroy"
            action="{{questions_path 'destroy'}}"
            method="POST"
            data-confirm="Wollen Sie die Frage wirklich löschen?">
          <button class="button destroy" type="submit">Löschen</button>
      </form>

      <!-- FULLSCREEN -->
      <button class="button fullscreen">Vollbild</button>

    </div>
  </aside>

  <img class="qr" src="{{qr_code}}">

</div>
