{{#if questions}}
<ol>
{{#questions}}
  <li class="question state-{{state}}"
    data-id="{{id}}"
    data-question="{{question}}"
    data-counter="{{sampleSize}}"
    data-startdate="{{startdate}}">

    <a href="#show-{{id}}">
      <div class="count" title="{{sampleSize}} Teilnehmer">{{sampleSize}}</div>
      <div class="detail">
        <h4>
          {{question}}
        </h4>

        {{! TODO remove inner class }}
        <div class="answers">
          {{#answers}}
            <span class="answer">{{shorten text}}</span>
          {{/answers}}
        </div>
      </div>
    </a>

    <div class="control">
      <a class="edit" alt="edit" title="edit" href="#edit-{{id}}"></a>
      <form action="{{questions_path 'destroy'}}" method="POST">
        <button type="submit" class="delete" alt="delete" title="delete"></button>
      </form>
    </div>

    <span class="startdate" title="Startdatum">{{date startdate}}</span>

  </li>
{{/questions}}
</ol>
{{/if}}

{{^questions}}
<div class="empty">
  keine solche Fragen
</div>
{{/questions}}
