<br><a class="questions-new button"
     href="#new"
     tabindex="0">Frage erstellen</a>

<table id="questions-table" class="tablesorter">
  <thead> 
  <tr class="sort-by">
    <th>Datum</th>
    <th>Uhrzeit</th>
    <th>Anzahl</th>
    <th>Frage</th>
    <th>Antworten</th>
  </tr>
  </thead> 

{{#if questions}}
  <tbody> 
  {{#questions}}
  <tr>
    <td>{{date startdate}}</td>
    <td>{{date startdate}}</td>
    <td>{{sampleSize}}</td>
    <td><a href="#show-{{id}}">{{question}}</a></td>
    <td>{{#answers}}{{shorten text}} {{/answers}}</td>
  </tr>
  {{/questions}}
  </tbody> 
{{/if}}

</table>

{{^questions}}
<div class="empty">
  keine solche Fragen
</div>
{{/questions}}
