<div class="card">
    <div class="card-content">
        <p>
            Teilnehmer können Aussagen auf einer Skala bewerten.
        </p>
        <p>
            Geeignet für:
        </p>
        <ul>
            <li>
                Fragen mit numerischen Antworten
            </li>
            <li>
                wenn Teilnehmer etwas bewerten sollen
            </li>
            <li>
                Generieren von Statistiken
            </li>
        </ul>
    </div>
</div>


<form class="default" method="post" accept-char="UTF-8">

    {{#if error}}
        <div class="messagebox messagebox_error">
            Fehler: {{error}}
        </div>
    {{/if}}

    <label>
        <span>Titel der Frage</span> (wird in Listendarstellungen verwendet)
        <div class="cliqr--scales-title"></div>
    </label>
    <label>
        <span>Aufgabenstellung (optional)</span>
    </label>
    <div class="cliqr--scales-description">
        <span class="cliqr--component-switchable-noneditable">{{{description_html}}}</span>
        {{fab "edit" "Bearbeiten" "edit" flat=true}}
    </div>


    <label class="cliqr--scales-statements"></label>

    <label class="cliqr--scales-range"></label>

    <footer>
        {{button "save" "Speichern" icon="accept" type="submit"}}
        {{button "cancel" "Abbrechen" icon="decline"}}
    </footer>
</form>
