<span>Skalenenden</span>
<div class="cliqr--scales-range">

    <div>
        <span> Minimum </span>
        <input class="cliqr--scales-lrange no-hint" maxlength="4" type="number" value="{{task.lrange_value}}" max="{{lrange_max}}">
        <input class="cliqr--scales-llabel no-hint" maxlength="50" placeholder="Beschriftung (optional)" type="text" value="{{task.lrange_label}}">
    </div>

    <div>
        <span> Maximum </span>
        <input class="cliqr--scales-hrange no-hint" maxlength="4" type="number" value="{{task.hrange_value}}" min="{{hrange_min}}">
        <input class="cliqr--scales-hlabel no-hint" maxlength="50" placeholder="Beschriftung (optional)" type="text" value="{{task.hrange_label}}">
    </div>

</div>
