<div class="card">
    <div class="card-content">
        <p>
            Teilnehmer können Aussagen auf einer Skala bewerten.
        </p>
        <p>
            Geeignet für:
        </p>
        <ul>
            <li>
                Fragen mit numerischen Antworten
            </li>
            <li>
                wenn Teilnehmer etwas bewerten sollen
            </li>
            <li>
                Generieren von Statistiken
            </li>
        </ul>
    </div>
</div>


<form class="default" method="post" accept-char="UTF-8">

    {{#if error}}
        <div class="messagebox messagebox_error">
            Fehler: {{error}}
        </div>
    {{/if}}

    <label>
        <span>Titel der Frage</span> (wird in Listendarstellungen verwendet)
        <div class="cliqr--scales-title"></div>
    </label>
    <label>
        <span>Aufgabenstellung</span>
    </label>
    <div class="cliqr--scales-description"></div>


    <label>
        <span> Aussagen </span>

        <div class="choices">
            {{#each task.task.statements}}
                <div class="choice-input">
                    <input
                        class="choice no-hint" maxlength="100" type="text"
                        name="statements[{{@index}}]"
                        value="{{text}}" required>

                    <span class="cliqr--scales-choice-actions">
                        {{fab "remove" "Entfernen" "trash"}}
                    </span>
                </div>
            {{/each}}

            {{button "add" "Aussage hinzufügen" icon="add" class="choice-add"}}

            {{#unless task.task.statements}}
                <div class="choices-required">
                    <select required oninvalid="setCustomValidity('{{i18n "Mindestens eine Aussage wird benötigt."}}')"></select>
                </div>
            {{/unless}}
        </div>

    </label>

    <label>
        <span>Skalenenden</span>

        {{#with task.task}}
            <div class="cliqr--scales-range">

                <div>
                    <span> Minimum </span>
                    <input class="cliqr--scales-lrange no-hint" maxlength="4" type="number" value="{{lrange_value}}" max="{{lrange_max}}">
                    <input class="cliqr--scales-llabel no-hint" maxlength="50" placeholder="Beschriftung (optional)" type="text" value="{{lrange_label}}">
                </div>

                <div>
                    <span> Maximum </span>
                    <input class="cliqr--scales-hrange no-hint" maxlength="4" type="number" value="{{hrange_value}}" min="{{hrange_min}}">
                    <input class="cliqr--scales-hlabel no-hint" maxlength="50" placeholder="Beschriftung (optional)" type="text" value="{{hrange_label}}">
                </div>

            </div>
        {{/with}}
    </label>

    <footer>
        {{button "save" "Speichern" icon="accept" type="submit"}}
        {{button "cancel" "Abbrechen" icon="decline"}}
    </footer>
</form>
