<div class="container">

    {{#if task.title}}
        <h1 class="title"> {{task.title}} </h1>
    {{/if}}

    <div class="content description is-large">{{{task.description_html}}}</div>

    <form action="" method="post">

        {{#each statements}}
            <div class="field">
                <label class="label">
                    <div class="control">
                        <input class="slider"
                               type="range"
                               min="{{../task.task.lrange_value}}"
                               max="{{../task.task.hrange_value}}"
                               value="{{../task.initialValue}}">
                        {{#with ../task.task}}
                            <div class="rangeslider__ruler">
                                <span>
                                    {{#if lrange_label}}
                                        ({{lrange_value}}) {{lrange_label}}
                                    {{else}}
                                        {{lrange_value}}
                                    {{/if}}
                                </span>

                                <span>
                                    {{#if hrange_label}}
                                        {{hrange_label}} ({{hrange_value}})
                                    {{else}}
                                        {{hrange_value}}
                                    {{/if}}
                                </span>
                            </div>
                        {{/with}}

                        <output></output>
                    </div>
                    <div class="content text is-large">{{text}}</div>
                </label>
            </div>
        {{/each}}

        <div class="field">
            <p class="control">
                <button class="button is-large is-fullwidth is-link is-outlined"
                        type="submit">Antwort abschicken</button>
            </p>
        </div>
    </form>
</div>
