{{#* inline "leftlabel"}}
{{#if lrange_label}} {{lrange_value}} ({{lrange_label}}) {{else}} {{lrange_value}} {{/if}}
{{/inline}}

{{#* inline "rightlabel"}}
{{#if hrange_label}} {{hrange_value}} ({{hrange_label}}) {{else}} {{hrange_value}} {{/if}}
{{/inline}}

<article class="studip">
    <header>
        <h4>{{header}} {{#if title}}{{title}}{{/if}}</h4>
    </header>
    <section class="cliqr--scales-description cliqr--content">{{{description_html}}}</section>
    <section>
        {{#with task}}
            <div class="cliqr--scales-range">

                auf einer Skala von

                <span class="cliqr--scales-label">
                    {{> leftlabel}}
                </span>

                bis

                <span class="cliqr--scales-label">
                    {{> rightlabel}}
                </span>
            </div>
        {{/with}}
    </section>
</article>
