{{#if task}}
    {{#> widgetLayout}}

    {{#*inline "title"}}
    {{icon 'play'}}
    Aktuelle Abstimmung
    {{/inline}}

    <a href="#voting/{{voting.id}}">
        <i class="cliqr--icon cliqr--icon-color-red cliqr--icon-{{./icon}}"></i>
        {{#if task.title}}{{task.title}}{{else}}{{strip_tags task.description_html}}{{/if}}
    </a>

  {{/widgetLayout}}
{{/if}}
