{{#> mc_header task}}
{{#*inline "header_title"}}

Abstimmung
{{#unless isRunning}}
    {{moment start}}
{{/unless}}

 {{/inline}}
{{/mc_header}}

<main>
    <table class="cliqr--multiple-choice-answers">
        <caption>
            {{#if isRunning}}
                {{#if isSingleSelect}}
                    {{i18n "Wählen Sie eine der folgenden Optionen:"}}
                    {{^}}
                    {{i18n "Wählen Sie beliebige aus folgenden Optionen:"}}
                {{/if}}
            {{/if}}
        </caption>
        <tbody>
            {{#each answers}}
                <tr>
                    <td class="nominal"> {{nominal @index}} </td>
                    <td class="text"> {{text}} </td>

                    {{#unless ../isRunning}}
                        <td class="graph"></td>
                        <td class="count">{{votes_count}}</td>
                        <td class="percent">
                            {{#if votes_count}}{{percent}}%{{/if}}
                        </td>
                    {{/unless}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</main>
