<header>
    <div class="cliqr--mc-description">{{{task.description_html}}}</div>
    {{#if isSingleSelect}}
    {{else}}
    {{/if}}
</header>

<main>
    <table>
        <tbody>
            {{#each answers}}
                <tr>
                    <td class="nominal"> {{nominal @index}} </td>
                    <td class="text"> {{text}} </td>

                    {{#unless ../isRunning}}
                        <td class="graph"></td>
                        <td class="count">{{votes_count}}</td>
                        <td class="percent">
                            {{#if votes_count}}{{percent}}%{{/if}}
                        </td>
                    {{/unless}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</main>
