<form class="default" method="post" accept-char="UTF-8">

    {{#if error}}
        <div class="messagebox messagebox_error">
            Fehler: {{error}}
        </div>
    {{/if}}

    <label>
        <span>Was möchten Sie fragen?</span>
        <div class="cliqr--mc-description"></div>
    </label>
    <label>
        <span>Titel der Frage</span> (wird in Listendarstellungen verwendet)
        <div class="cliqr--mc-title"></div>
    </label>

    <label>
        <span>Antwortmöglichkeiten</span>

        <div class="cliqr--mc-subtypes button-group">
            {{#each subtypes}}
                {{#if selected}}
                    {{button (concat "type-" id) text class="active"}}
                {{/if}}
                {{^if selected}}
                    {{button (concat "type-" id) text}}
                {{/if}}
            {{/each}}
        </div>
    </label>

    <label>
        <span>Tragen Sie die Antworten ein</span>

        <div class="choices">
            {{#each task.task.answers}}
                <div class="choice-input">
                    <span class="nominal">{{nominal @index}}</span>

                    <input
                        class="choice no-hint" maxlength="100" type="text"
                        name="answers[{{@index}}]"
                        value="{{text}}" required>

                    <span class="cliqr--mc-choice-actions">
                        {{fab "remove" "Entfernen" "trash"}}
                        <!-- {{fab "upload" "Bild hochladen" "upload"}} -->
                        <!-- {{fab "options" "Optionen" "tools"}} -->
                    </span>
                </div>
            {{/each}}

            {{button "add" "Antwort hinzufügen" icon="add" class="choice-add"}}

            {{#unless task.task.answers}}
                <div class="choices-required">
                    <select required oninvalid="setCustomValidity('{{i18n "Mindestens eine Antwort wird benötigt."}}')"></select>
                </div>
            {{/unless}}
        </div>
    </label>

    <fieldset class="collapsable collapsed cliqr--multiple-choice-options">
        <legend>Optionen</legend>

        <label>
            <input type="checkbox" name="select-type" value="multi"{{#unless singleSelect}} checked{{/unless}}>
            Nutzer dürfen mehr als eine Antwort ankreuzen
        </label>
    </fieldset>

    <footer>
        {{button "save" "Speichern" icon="accept" type="submit"}}
        {{button "cancel" "Abbrechen" icon="decline"}}
    </footer>
</form>
