<div class="container">
    {{#if task.title}}
        <h1 class="title"> {{task.title}} </h1>
    {{/if}}

    <div class="content description is-size-4-desktop">{{{task.description_html}}}</div>

    <form action="" method="post">

        {{#each answers}}
            <div class="field">
                <p class="control is-expanded is-size-4-desktop">
                    {{#if ../isSingleSelect}}
                        <label class="radio">
                            <span class="tag is-rounded"> {{nominal @index}}</span>
                            <input type="radio" name="choice" value="{{@index}}" required>
                            <span class="text content">
                                {{text}}
                            </span>
                        </label>
                    {{else}}
                        <label class="checkbox">
                            <span class="tag is-rounded"> {{nominal @index}}</span>
                            <input type="checkbox" name="choice[{{@index}}]" value="{{@index}}">
                            <span class="text content">{{text}}</span>
                        </label>
                    {{/if}}
                </p>
            </div>
        {{/each}}

        <div class="field">
            <p class="control">
                <button class="button is-fullwidth is-link is-outlined"
                        type="submit">Antwort abschicken</button>
            </p>
        </div>
    </form>
</div>
