<section data-taskid="{{id}}" data-type="{{type}}" data-mcselect="{{task.type}}" data-userid="{{user_id}}" data-created="{{created}}" data-changed="{{changed}}">
    <header>
        <h1>{{description}}</h1>
    </header>

    <main>
        {{#each answers}}
            <label data-score="{{score}}" data-feedback="{{feedback}}">

                {{#if isSingleSelect}}
                    <input type="radio" name="choice" value="{{id}}" {{#if isCorrect}}checked{{/if}} required disabled>
                {{else}}
                    <input type="checkbox" name="choice[{{id}}]" value="1" {{#if isCorrect}}checked{{/if}} required disabled>
                {{/if}}

                {{text}}
            </label>
        {{/each}}
    </main>

</section>
