<header>
    <h1>Fragenarchiv</h1>
</header>

<section class="cliqr--archive-votings">
    <ol>
        {{#each votings}}
            <li>
                <div class="cliqr--archive-header">
                    <a href="#voting/{{id}}">
                        {{icon "test"}}
                        {{task.description}}
                    </a>
                </div>

                <div class="cliqr--archive-date">
                    <div> {{moment start}} </div>
                </div>

                <div class="cliqr--archive-bubble">
                    <span class="bubble" data-tooltip="Frage mit {{responses_count}} Antworten">{{responses_count}}</span>
                </div>

            </li>
        {{/each}}
    </ol>
</section>
