<td class="cliqr--task-checkbox">
    <i class="cliqr--icon-grip"></i>
</td>

<td class="cliqr--task-header">
    <a href="#task/show/{{id}}">
        <i class="cliqr--icon-{{./icon}}"></i>
        {{icon icon}}
        {{#if title}}{{title}}{{else}}{{strip_tags description_html}}{{/if}}
    </a>
    <div class="cliqr--task-last-assignment">
        {{#if last_voting}}
            {{#if_state 'is_active'}}
                <span class="cliqr--task-last-assignment-active">
                    {{icon 'play' color="red"}}
                    <a href="#voting/{{last_voting.id}}">
                        {{moment last_voting.start label="Läuft gerade"}}
                    </a>
                </span>
        {{else}}
                zuletzt abgestimmt
                <a href="#voting/{{last_voting.id}}">{{moment last_voting.start}}</a>
            {{/if_state}}
        {{else}}
            nie abgestimmt
        {{/if}}
    </div>
</td>

<td class="cliqr--task-changed">
    <a href="#task/show/{{id}}">
        {{moment chdate}}
    </a>
</td>

<td class="cliqr--task-actions">
    {{#if_state 'is_active'}}
        {{fab "stop" "Abstimmung beenden" "pause" once=true flat=true}}
        {{^}}
        {{fab "start" "Abstimmung starten" "play" once=true flat=true}}
    {{/if_state}}
    {{fab "duplicate" "Frage duplizieren" "add/files" flat=true}}
    {{fab "remove" "Frage löschen" "trash" flat=true}}
</td>
