<div class="cliqr--task-checkbox">
    <input type="checkbox" name="task[]" value="{{id}}">
</div>

<div class="cliqr--task-header">
    <a href="#task-{{id}}">
        {{#if_state 'new'}} {{icon 'new/vote'}} {{/if_state}}
        {{#if_state 'is_active'}} {{icon 'play'}} {{/if_state}}
        {{description}}
    </a>
</div>

<div class="cliqr--task-changed">
    {{moment changed}}
</div>

<div class="cliqr--task-actions">
    {{#if_state 'is_active'}}
        {{fab "stop" "Stoppen" "pause"}}
        {{^}}
        {{fab "start" "Starten" "play"}}
    {{/if_state}}
    {{fab "duplicate" "Duplizieren" "add/files"}}
    {{fab "remove" "Löschen" "trash"}}
</div>
