<header class="cliqr--page-header">
    {{> breadcrumb breadcrumb }}
</header>

<main></main>

<aside class="votings">
  {{#if editable}}
      {{linkbutton (concat "#task/edit/" task.id) "Frage bearbeiten" icon="edit"}}
  {{else}}
      {{button "copy-edit" "Frage bearbeiten" icon="exclaim-circle" color="red"}}
  {{/if}}

    {{#unless votings}}
        {{button "start" "Abstimmung starten" icon="play" once=true}}
    {{/unless}}

    {{#if votings}}
        <h2>
            Abstimmungen:
        </h2>

        <nav>
          {{#unless_state 'is_active'}}
              {{button "start" "Abstimmung starten" icon="play" once=true}}
          {{else}}
              {{button "stop" "Abstimmung beenden" icon="pause" once=true color="red"}}
          {{/unless_state}}
        </nav>

        <ol class="cliqr--votings-list">
            {{#each votings}}
                <li>
                    <a href="#voting/{{id}}">
                        {{#if running}}
                            <span>
                                {{icon 'play' color='red'}}
                            </span>
                            {{moment start label="läuft gerade"}}
                        {{else}}
                            <span>
                                {{icon 'vote'}}
                            </span>
                            {{moment start}}
                        {{/if}}
                        <span class="bubble" data-tooltip="{{responses_count}} Stimmen">{{responses_count}}</span>
                    </a>
                </li>
            {{/each}}
        </ol>
    {{/if}}
</aside>
