<header>
    <h1>Frage hinzufügen</h1>
    <p>Wählen Sie zunächst die Art der Frage:</p>
</header>

<nav>
    <ul class="task-types">
        {{#each taskTypes as |type|}}
            <li class="{{#if type.selected}}selected{{/if}}">
                <button class="button js-add-question" data-typeid="{{type.id}}">
                    <img class="cliqr--task-types-icon" src="{{../STUDIP.ASSETS_URL}}/images/icons/{{#if type.selected}}white{{else}}blue{{/if}}/{{type.icon}}.svg">
                    {{name}}
                </button>
            </li>
        {{/each}}
    </ul>
</nav>

<main></main>
