{{#if_mode 'button'}}
    {{button "show-chooser" "Frage hinzufügen" icon="add"}}
{{/if_mode}}

{{#if_mode 'form'}}
    <header>
        <h1>Frage hinzufügen</h1>
    </header>

    <nav>
        <ul class="task-types">
            {{#each taskTypes}}
                <li class="{{#if selected}}selected{{/if}}">
                    <button class="button js-add-question" data-typeid="{{id}}">
                        <img class="cliqr--task-types-icon" src="{{../STUDIP.ASSETS_URL}}/images/icons/{{#if selected}}white{{else}}blue{{/if}}/{{icn}}.svg">
                        {{name}}
                    </button>
                </li>
            {{/each}}
        </ul>
    </nav>


    <main> </main>
{{/if_mode}}
