<header>
    <h1>Fragensammlungen</h1>
</header>

<table class="task-groups default">
    <thead>
        <tr>
            <th></th>
            <th> Name der Fragensammlung </th>
            <th> Anzahl Fragen</th>
            <th> letzte Änderung </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        {{#each taskGroups}}
            <tr data-taskgroupid={{id}}>
                <td>
                    <!--
                    <input type="checkbox">
                    -->
                </td>

                <td>
                    <a class="cliqr--task-group-title" href="#task-groups-{{id}}">
                        {{icon "folder-full"}}
                        {{test.title}}
                    </a>
                </td>

                <td>
                    <a href="#task-groups-{{id}}">
                        <span class="bubble" data-tooltip="Fragensammlung mit {{tasks_count}} Frage/n">{{tasks_count}}</span>
                    </a>
                </td>

                <td>
                    <a class="cliqr--task-group-changed" href="#task-groups-{{id}}">
                        {{moment test.changed}}
                    </a>
                </td>

                <td>
                    {{fab "export" "Export" "archive3" flat=true}}
                    {{fab "duplicate" "Duplizieren" "add/files" once=true flat=true}}
                    {{fab "remove" "Löschen" "trash" flat=true}}
                </td>
            </tr>

        {{else}}
            <tr>
                <td class="cliqr--empty" colspan="5">
                    <p>
                        Es sind keine Fragensammlungen vorhanden.
                    </p>
                </td>
            </tr>
        {{/each}}

        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="button-group">
                        {{#if taskGroups}}
                            {{button "add-task-group" "Fragensammlung erstellen" icon="add"}}
                            {{^}}
                            {{button "add-task-group" "Fragensammlung erstellen" icon="add" color="red"}}
                        {{/if}}
                        {{button "import-task-group" "Import" icon="upload2"}}
                    </div>
                </td>
            </tr>

        </tfoot>


    </tbody>
</table>
