<nav>
    <!--<h1>Task Nr.{{id}}: {{title}}</h1>-->
    <p>
        <a href="#task-groups-{{task_group_id}}">
            zurück zur Fragensammlung
        </a>
    </p>
</nav>

<main></main>

<aside class="assignments">
    <h2>
        Votings:
    </h2>

    <ol>
        {{#each votings}}
            <li>
                <a href="#voting/{{id}}">
                    <span>
                        {{#if running}} {{icon 'play'}} {{else}} {{icon 'new/vote'}} {{/if}}
                    </span>
                    am {{moment start}}
                    <span class="bubble" data-tooltip="{{responses_count}} Stimmen">{{responses_count}}</span>
                </a>
            </li>
        {{/each}}
    </ol>

    <nav>
        {{#unless_state 'is_active'}}
            {{button "start" "Frage starten" icon="play"}}
        {{else}}
            {{button "stop" "Frage beenden" icon="pause"}}
        {{/unless_state}}

    </nav>
</aside>
