<div class="cliqr--task-checkbox">
    <input type="checkbox" name="task[]" value="{{id}}">
</div>

<div class="cliqr--task-header">
    <a href="#task/show/{{id}}">
        {{description}}
    </a>
    <div class="cliqr--task-last-assignment">
        {{#if last_voting}}
            Letztes Voting:
            {{#if_state 'is_active'}} {{icon 'play' color="black"}} {{/if_state}}
            <a href="#voting/{{last_voting.id}}">{{moment last_voting.start}}</a>
        {{else}}
            nie gestellt {{#if_state 'new'}} {{icon 'new/vote' color="black"}} {{/if_state}}
        {{/if}}
    </div>
</div>

<div class="cliqr--task-changed">
    {{moment changed}}
</div>

<div class="cliqr--task-actions">
    {{#if_state 'is_active'}}
        {{fab "stop" "Stoppen" "pause"}}
        {{^}}
        {{fab "start" "Starten" "play"}}
    {{/if_state}}
    {{fab "duplicate" "Duplizieren" "add/files"}}
    {{fab "remove" "Löschen" "trash"}}
</div>
