<header class="cliqr--page-header">
    {{#user_role "lecturer"}}
        {{> breadcrumb breadcrumb}}
    {{else}}
        <nav class="cliqr--breadcrumb">
            <ul>
                <li>
                    <a href="#archive"> Beendete Abstimmungen </a>
                </li>
            </ul>
        </nav>
    {{/user_role}}
</header>

{{#user_role "lecturer"}}
    {{#if isRunning}}
        <nav class="cliqr--voting-is-running">

            <div class="url">
                Abstimmen:
                <a class="short" href="{{cliqr_short_url}}">{{cliqr_short_url}}</a>
            </div>

            <div class="show-qr-code">
                {{button "show-qr-code" "QR-Code zeigen" icon="code-qr"}}
                <div class="dialog" title="Abstimmen unter" style="display:none">
                    <a class="short" href="{{cliqr_short_url}}">{{cliqr_short_url}}</a>
                    <img class="qr" src="{{qr_code}}">
                </div>
            </div>

            <div class="actions">
                {{button "stop" "Abstimmung beenden" once=true icon="stop"}}
            </div>
        </nav>
    {{/if}}
{{/user_role}}

<main></main>

{{#user_role "lecturer"}}
    {{#unless isRunning}}
        <nav class="panel cliqr--voting-is-not-running">
            <div class="panel-block">
                {{button "restart" "Noch einmal starten" once=true class="control"}}
            </div>

            <p class="panel-heading">
                Vergleichen mit:
            </p>

            <div class="panel-block">
                {{#if otherVotings}}
                    <form class="default">
                        <select>
                            {{#each otherVotings}}
                                <option value="{{id}}" {{#if isRunning}}disabled{{/if}}>
                                    {{moment start}}
                                    {{#unless isRunning}}
                                        ({{responses_count}} Stimmen)
                                    {{^}}
                                        (läuft gerade)
                                    {{/unless}}
                                </option>
                            {{/each}}
                        </select>
                        {{fab "compare" "Vergleichen" "test"}}
                    </form>
                {{^}}
                    Es gibt keine andere Abstimmung für einen Vergleich.
                {{/if}}
            </div>
        </nav>
    {{/unless}}
{{/user_role}}

<footer>
  <div class="cliqr--sample-size">{{responses_count}} Stimme/n</div>
</footer>
