<header class="cliqr--page-header">
    <nav class="cliqr--breadcrumb">
        <ol>
            <li>
                <a href="#task-groups">
                    Cliqr
                </a>
            </li>
            <li>
                <a href="#task-groups-{{task.task_group_id}}">
                    Fragensammlung &laquo;{{task.task_group_title}}&raquo;
                </a>
            </li>
            <li>
                <a href="#task/show/{{task.id}}">
                    Frage {{#if task.title}} &laquo;{{task.title}}&raquo; {{/if}}
                </a>
            </li>
        </ol>
    </nav>

    <h1>Abstimmungen vergleichen</h1>
</header>

<main>
    {{#with votingA}}
        <section class="cliqr--voting-side-a">
            <nav>
                <a href="#voting/{{id}}">
                    Voting {{#if start}}vom {{moment start}}{{/if}}
                </a>
            </nav>
            <main></main>
        </section>
    {{/with}}

    {{#with votingB}}
        <section class="cliqr--voting-side-b">
            <nav>
                <a href="#voting/{{id}}">
                    Voting {{#if start}}vom {{moment start}}{{/if}}
                </a>
            </nav>
            <main></main>
        </section>
    {{/with}}
</main>
