{{#if task}}
    {{#> widgetLayout}}

    {{#*inline "title"}}
    {{icon 'play'}}
    Aktuelle Abstimmung
    {{/inline}}

    <a
        {{#user_role "lecturer"}}
        href="#voting/{{voting.id}}"
        {{^}}
        href="{{cliqr_short_url}}"
        {{/user_role}}
    >
        <i class="cliqr--icon cliqr--icon-color-red cliqr--icon-{{./icon}}"></i>
        {{#if task.title}}{{task.title}}{{else}}{{strip_tags task.description_html}}{{/if}}
    </a>

  {{/widgetLayout}}
{{/if}}
